__pycache__/config.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/oai.cpython-312.pyc
.idea/.gitignore
.idea/Latoken.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
Old/1.mp4
Old/bot.py
Old/botstart.sh
Old/handlers.py
Old/kb.py
Old/notifications.py
Old/p2.py
Old/parser.py
Old/text_from_video.py
Old/text.py
.DS_Store
Archive.zip
test.py
